<IfModule mod_rewrite.c>
    RewriteEngine On

    # If request is not already pointing to /public, redirect it
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]

    # Inside /public, let Laravel handle routes
    <IfModule mod_rewrite.c>
        RewriteEngine On

        # Redirect Trailing Slashes If Not A Folder...
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} (.+)/$
        RewriteRule ^ %1 [L,R=301]

        # Handle Front Controller...
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [L]
    </IfModule>
</IfModule>

# Protect sensitive files
<Files .env>
  Order allow,deny
  Deny from all
</Files>

<Files composer.json>
  Order allow,deny
  Deny from all
</Files>
